header {
	background: red;
	color: yellow;
	overflow: auto;
	position: fixed;
	text-align: center;
	padding: 10px ;
	font-size: 2rem;
}

body {
	margin-top:40px;
	background: url(../images/madonna.jpg) fixed;
}

p {
	background: white;
	opacity: .7;
	color: darkred;
	padding:10px;
}

#button {
	background: red;
	padding: 10px;
	color: white;
}

#after_submit{
	visibility: hidden;
}

#number_correct, #number_incorrect {
	background: url(../images/balloons.jpg) fixed;
	color: blue;
	text-align: center;
	opacity: .9
}

footer {
	background: red;
	color: black;
	padding: 10px;
	width: 100%;
}

#restart{
	background:yellow;
	color:red;
	margin:20px;
	float: right;
}